* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    text-transform: capitalize;
}

:root {
    --main-color: #ea5455;
    --secong-color: #ea7659;
    --main-tran: all 0.5s;
    --main-padding: 6.25rem;
    --box-sha: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --letter-spa: 0.08929em;
}

h1, h2 {
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 1px;
    letter-spacing: var(--letter-spa);
}

h2 {
    font-size: 60px;
}

/* /////// Navigation //////  */
           
.navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 1.25rem;
    color: var(--main-color) !important;
    margin-right: 3.125rem;
    border-bottom: 0.1875rem solid transparent !important;
    letter-spacing: var(--letter-spa);
    transition: var(--main-tran);
   
}

.navbar-nav .nav-link:hover {
    color: var(--secong-color) !important;
    border-bottom: 0.1875rem solid var(--secong-color) !important;
}


.nav-wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}
.logo > img {
    height: 55px;
    width: auto;
    padding-left: 40px;
}
.navbar-collapse {
    flex-grow: unset !important;
}

.nav-border {
    border-bottom: 4px solid var(--main-color) !important;
}

nav {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0.1px;
    border-bottom: 2px solid transparent;
}

.sticky {
    color: slateblue !important;
  top: 0;
  z-index: 110;
}


/* ////////// header section ////////// */
.header {
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
}

.header h1 {
    font-size: 140px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    position: absolute;
    top: 28%;
    left: 8%;
}

.header h2 {
    font-size: 80px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 8%;
}

.header span {
    text-transform: lowercase !important;
    color: violet;
}

a.btn-action {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px 5px 20px;

}


.btn-action {
    position: absolute;
    left: 8.5%;
    bottom: 26%;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 4px;
    letter-spacing: 0.08929em;
    border: 1px solid var(--main-color);
    transition: var(--main-tran);
    box-shadow: var(--box-shadow) !important;
}

.btn-action:hover {
    background-color: transparent;
    color: var(--main-color);
}

/* /////////////////////// @media ///////////////////// */

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 320px) {
    .navbar-nav{
        left: 5% !important;
        margin-top: 10% !important;
        position: relative !important;
    }
    .jorge-link p {
        font-size: 8px !important;
    }
    

}

/* Landscape */
@media screen 
  and (device-width: 640px) 
  and (device-height: 360px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .btn-action { 
        bottom: 10% !important;
    }
    .navbar-nav{
        left: 2% !important;
        margin-top: 10% !important;
        position: relative !important;
        border-bottom: none !important;
    }
    

}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-nav .nav-link {
        font-size: 20px;
        padding-left: 1.25rem;
        color: var(--main-color) !important;
        margin-left: -1.125rem !important;
        border-bottom: none !important;
        transition: var(--main-tran);
    }
    .navbar-nav .nav-link:hover {
        color: var(--secong-color) !important;
        border-bottom: none !important;
    }
    
    li.nav-item {
        padding: 10px !important;
    }

    .header h1 {
        font-size: 80px !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
    .header h2 {
        font-size: 60px;
        color: #fff;
        word-spacing: 4px;
        letter-spacing: 1px;
        position: absolute;
        top: 55%;
        left: 8%;
    }

    .productos h2 {
        font-size: 20px !important;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center !important;
        font-size: 1.25rem !important;
        left: 20% !important;
    }
    .nonWrap {
        white-space: nowrap !important;
    }
    .comiensos h2 {
        position: relative;
        font-size: 1.25rem !important;
        left: -18% !important;
    }
    .productos h2::after {
        display: block;
        width: 100px;
        background-color: var(--main-color);
        content: " ";
        height: 3px;
        margin: 0 auto;
        margin-top: 1px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header h1 {
        font-size: 70px !important;
        color: #fff !important;
        position: absolute;
        top: 17% !important;   
        left: 4% !important;
    }
    .header h2 {
        top: 45% !important; 
    }
    .btn-action {
        bottom: 30% !important;
    }

    .footer-contact a {
        padding-left: 20px !important;
    }

    .jorge-link p {
        font-size: 7px !important;
    }
   
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .comiensos h2 {
        position: relative;
        color: var(--main-color) !important;
        font-size: 1.25rem !important;
        left: 1% !important;
    }
    .btn-action {
        bottom: 7% !important;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    .productos h2 {
        color: var(--main-color) !important;
        font-size: 1.25rem !important;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center !important;
        font-size: 1.25rem !important;
    } 
    .nonWrap {
        white-space: nowrap !important;
    }
    .comiensos h2 {
        position: relative;
        font-size: 1.25rem !important;
        left: -3.5% !important;
    }

    .header h1 {
        font-size: 70px !important;
        color: #fff !important;
        position: absolute;
        top: 17% !important;   
        left: 4% !important;
    }
    .header h2 {
        top: 42% !important; 
    }
    .btn-action {
        bottom: 36% !important;
    }

    .footer-contact a {
        padding-left: 20px !important;
    }

    .jorge-link p {
        font-size: 7px !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

      .header h1 {
        font-size: 4.375rem !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
    .navbar-nav{
        left: 2% !important;
        margin-top: 10% !important;
        position: relative !important;
    }
    .jorge-link p {
        font-size: 8px !important;
    }
    .btn-action {
        bottom: 10% !important;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .header h1 {
        font-size: 80px !important;
        color: #fff !important;
        position: absolute;
        top: 17% !important;   
        left: 4% !important;
    }
    

    .productos h2 {
        color: var(--main-color) !important;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center !important;
        font-size: 1.25rem !important;
    } 
    .nonWrap {
        white-space: nowrap !important;
    }
    .comiensos h2 {
        position: relative;
        font-size: 1.25rem !important;
        left: -3.5% !important;
    }


    .header h2 {
        top: 42% !important; 
    }
    .btn-action {
        bottom: 40% !important;
    }

    .footer-contact a {
        padding-left: 20px !important;
    }

    .jorge-link p {
        font-size: 7px !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .navbar-nav{
        left: 2% !important;
        margin-top: 10% !important;
        position: relative !important;
    }
    .header h1 {
        font-size: 5.8rem !important;
        color: #fff !important;
        position: absolute;
        top: 30% !important;   
        left: 4% !important;
    }

    .btn-action {
        bottom: 12% !important;
    }
}

@media (max-width: 750px) {
    /* /////// Navigation //////  */
    h1, h2 {
        font-weight: bold;
        word-spacing: 1px;
        letter-spacing: 1px;
        align-items: center;
    }
    
    h2 {
        font-size: 40px;
    }

    .productos h2::after {
        display: block;
        width: 100px;
        background-color: var(--main-color);
        content: " ";
        height: 3px;
        margin-top: 20px !important;
    }
    .logo > img {
        height: 55px;
        width: auto;
        padding-left: 10px;
    }

    .navbar-nav .nav-link {
        padding-left: 1.25rem;
        color: var(--main-color) !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: tomato;
    box-shadow: tomato;
    border-color: #d92027;
}

/* ///////// header ////////// */
.header h1 {
    font-size: 6.25rem;
    color: #fff;
    position: absolute;
    top: 28%;
    left: 8%;
}

.img-text-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.showcase-items {
    display: ruby;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
}


/* /////// seccion comiensos //////// */
p {
    letter-spacing: 0.0625rem !important;
    line-height: 1.875rem !important;
    padding: 3.125rem !important;
}
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .header h1 {
        font-size: 80px !important;
        color: #fff !important;
        position: absolute;
        top: 17% !important;   
        left: 4% !important;
    }
    .header h2 {
        top: 48%;
    }
    .btn-action {
        bottom: 40% !important;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header h1 {
        font-size: 80px !important;
        color: #fff !important;
        position: absolute;
        top: 17% !important;   
        left: 4% !important;
    }
    .navbar-nav{
        left: 5% !important;
        margin-top: 10% !important;
        position: relative !important;
    }
    .header h2 {
        top: 48%;
    }
    .btn-action {
        bottom: 10% !important;
    }
    .productos h2 {
        font-size: 2rem !important;
    }
    
}


/* /////////// section productos //////////  */
.long-text p {
    color: var(--secong-color);
    text-align: center;
    background-color: #f8f8f5;
    
}

.long-text {
    margin-bottom: 10rem;
}
 
p {
    letter-spacing: 1px;
    line-height: 40px;
    padding: 120px;
}
.productos {
    padding: var(--main-padding);
    display: flex;
   
}
.productos h2 {
    color: var(--main-color);
    margin: 0 auto;
    right: 20% !important;
}

.productos h2::after {
    display: block;
    width: 100px;
    background-color: var(--main-color);
    content: " ";
    height: 3px;
    margin: 0 auto;
    margin-top: 1px;
}

.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color) !important;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}



.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: seagreen;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    padding-left: 0;
    
}

.contact-info a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}


/* //////// Footer /////// */

footer {
    background-color: var(--secong-color);
    display: grid;
    place-items: center;
}

.footer-contact {
    display: grid;
    list-style-type: none;
    margin: 20px 0 0 0;
    place-items: center;
}

.footer-contact {
    list-style-type: none;
}

.footer-contact li {
    margin-right: 80px;
}

.footer-contact a {
    place-items: center;
    padding-left: 3.4375rem;
}
.footer-contact li a {
    color: #333;
    font-size: 0.8125rem;
    text-decoration: none;
}

.footer-links {
    display: flex !important;
    padding: 20px 0 40px 0;
    list-style-type: none;
}

.footer-links li {
    padding: 20px;
    text-decoration: none;
}

.social-icon {
    font-size: 200%;
    color: var(--main-color);
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 15%;
    transition: var(--main-tran);
    box-shadow: var(--box-shadow);
}

.social-icon:hover {
    background-color: var(--main-color);
    color: whitesmoke;
}

.jorge-link {
    display: grid;
    background-color: #ccc;
    margin-bottom: 0;
    place-items: center;
}

.jorge-link p {
    font-size: 10px;
    line-height: 0;
    letter-spacing: 1;
    padding: 10px !important;
    margin-bottom: 0;
}

.jorge-link a {
    color: blue;
    text-decoration: underline;
}