* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    text-transform: capitalize;
}

:root {
    --main-color: #ea5455;
    --secong-color: #ea7659;
    --main-tran: all 0.5s;
    --main-padding: 6.25rem;
}

h1, h2 {
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 60px;
}

/* /////// Navigation //////  */
           
.navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 1.25rem;
    color: var(--main-color) !important;
    margin-right: 3.125rem;
    border-bottom: 3px solid transparent !important;
    transition: var(--main-tran);
   
}

.navbar-nav .nav-link:hover {
    color: var(--secong-color) !important;
    border-bottom: 3px solid var(--secong-color) !important;
}


.nav-wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo > img {
    height: 55px;
    width: auto;
    padding-left: 40px;
}
.navbar-collapse {
    flex-grow: unset !important;
}

.nav-border {
    border-bottom: 4px solid var(--main-color) !important;
}

nav {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0.1px;
    border-bottom: 2px solid transparent;
}

.sticky {
    color: slateblue !important;
  top: 0;
  z-index: 110;
}


/* ////////// header section ////////// */
.header {
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
}

.header h1 {
    font-size: 140px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    position: absolute;
    top: 28%;
    left: 8%;
}

.header h2 {
    font-size: 80px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 8%;
}

.header span {
    text-transform: lowercase !important;
    color: violet;
}

/* /////////////////////// @media ///////////////////// */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-nav .nav-link {
        font-size: 20px;
        padding-left: 1.25rem;
        color: var(--main-color) !important;
        margin-left: -1.125rem !important;
        border-bottom: none !important;
        transition: var(--main-tran);
    }
    .navbar-nav .nav-link:hover {
        color: var(--secong-color) !important;
        border-bottom: none !important;
    }
    
    li.nav-item {
        padding: 10px !important;
    }

    .header h1 {
        font-size: 80px !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
    .header h2 {
        font-size: 60px;
        color: #fff;
        word-spacing: 4px;
        letter-spacing: 1px;
        position: absolute;
        top: 55%;
        left: 8%;
    }

    .productos h2 {
        color: rebeccapurple !important;
        font-size: 20px !important;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center !important;
        font-size: 1.25rem !important;
        left: 20% !important;
    }
    .nonWrap {
        white-space: nowrap !important;
    }
    .comiensos h2 {
        position: relative;
        color: black !important;
        font-size: 1.25rem !important;
        left: -30% !important;
    }
    .productos h2::after {
        display: block;
        width: 100px;
        background-color: var(--main-color);
        content: " ";
        height: 3px;
        margin: 0 auto;
        margin-top: 1px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header h1 {
        font-size: 70px !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
   
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .comiensos h2 {
        position: relative;
        color: var(--main-color) !important;
        font-size: 1.25rem !important;
        left: 1% !important;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .header h1 {
        font-size: 4.375rem !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
    .header h2 {
        font-size: 60px;
        color: #fff;
        word-spacing: 4px;
        letter-spacing: 1px;
        position: absolute;
        top: 55%;
        left: 8%;
    }

    .productos h2 {
        color: rebeccapurple !important;
        font-size: 1.25rem !important;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center !important;
        font-size: 1.25rem !important;
    }
    .nonWrap {
        white-space: nowrap !important;
    }
    .comiensos h2 {
        position: relative;
        color: black !important;
        font-size: 1.25rem !important;
        left: -3.5% !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

      .header h1 {
        font-size: 4.375rem !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 4% !important;
    }
}

@media (max-width: 750px) {
    /* /////// Navigation //////  */
    h1, h2 {
        font-weight: bold;
        word-spacing: 1px;
        letter-spacing: 1px;
        align-items: center;
    }
    
    h2 {
        font-size: 40px;
    }

    .productos h2::after {
        display: block;
        width: 100px;
        background-color: var(--main-color);
        content: " ";
        height: 3px;
        margin-top: 20px !important;
    }
    .logo > img {
        height: 55px;
        width: auto;
        padding-left: 10px;
    }

    .navbar-nav .nav-link {
        padding-left: 1.25rem;
        color: var(--main-color) !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: tomato;
    box-shadow: tomato;
    border-color: #d92027;
}

/* ///////// header ////////// */
.header h1 {
    font-size: 6.25rem;
    color: #fff;
    position: absolute;
    top: 28%;
    left: 8%;
}

.img-text-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.showcase-items {
    display: ruby;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
}


/* /////// seccion comiensos //////// */
p {
    letter-spacing: 0.0625rem !important;
    line-height: 1.875rem !important;
    padding: 3.125rem !important;
}
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .header h2 {
        top: 48%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header h1 {
        font-size: 3.875rem !important;
        color: #fff !important;
        position: absolute;
        top: 28%;   
        left: 7% !important;
    }
}


/* /////////// section productos //////////  */
.long-text p {
    color: var(--secong-color);
    text-align: center;
    background-color: #f8f8f5;
    
}

.long-text {
    margin-bottom: 10rem;
}
 
p {
    letter-spacing: 1px;
    line-height: 40px;
    padding: 120px;
}
.productos {
    padding: var(--main-padding);
    display: flex;
   
}
.productos h2 {
    color: var(--main-color);
    margin: 0 auto;
    right: 20% !important;
}

.productos h2::after {
    display: block;
    width: 100px;
    background-color: var(--main-color);
    content: " ";
    height: 3px;
    margin: 0 auto;
    margin-top: 1px;
}

.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color) !important;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}



.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: seagreen;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    padding-left: 0;
    
}

.contact-info a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}